img[alt="home-icon"]{
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 30px;
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: none;
}

h3 {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.Header {
  padding: 0px;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  color: #16425B;
  font: 34px Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.body-text {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: #2F6690;
  font: 16px Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.answer {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: #2F6690;
  font: 16px Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: lightblue;
  font: 50px Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
}

.german {
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.french {
  display:flex;
  align-items: center;
  flex-direction:row;
   justify-content: center;
}

.latin {
  display:flex;
  flex-direction:row;
  align-items: center;
   justify-content: center;
}

a.button {
  font: 14px Tahoma, sans-serif;
  letter-spacing: 0px;
  padding: 12px 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #2F6690;
  background-color: #81C3D7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #2F6690;
  margin: 8px;
}

.button {
  font: 14px Tahoma, sans-serif;
  letter-spacing: 0px;
  padding: 12px 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #2F6690;
  background-color: #81C3D7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #2F6690;
  margin: 8px;
}

.button:hover {
  font: 14px Tahoma, sans-serif;
}

.button:active {
  font: 14px Tahoma, sans-serif;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
