img[alt="home-icon"]{
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 30px;
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: none;
}

h3 {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.Header {
  padding: 0px;
  height: 100%;
  width: 100%;
  letter-spacing: 2px;
  color: #16425B;
  font: 40px Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.body-text {
  height: 100%;
  width: 100%;
  letter-spacing: 5px;
  color: #2F6690;
  font: 20px Tahoma, sans-serif;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

body {
  background-color: lightblue;
  font: 50px Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
}

.button {
  font: 20px Tahoma, sans-serif;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #2F6690;
  background-color: #81C3D7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2F6690;
  margin: 10px;
}

.button:hover {
  font: 20px Tahoma, sans-serif;
}

.button:active {
  font: 20px Tahoma, sans-serif;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
